<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head } from '@inertiajs/vue3';


defineProps({
    stripes: {
        type: Object,
    },
    total_stripes: {
        type: Number,
    },
    unpaid_stripes: {
        type: Number,
    },
    user: {
        type: Object,
    }
});

</script>

<script>

export default {
    methods: {
        formatDate(dateString) {
            const date = new Date(dateString);
                // Then specify how you want your dates to be formatted
            return new Intl.DateTimeFormat('en-nl', {timeStyle: 'short', dateStyle: 'full'}).format(date);
        }
    }
}


</script>
<template>
    <Head title="Dashboard" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Dashboard</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 text-gray-900">
                        Your lifetime amount of stripes: {{ total_stripes }}<br>
                        Your current uninvoiced stripes: {{ unpaid_stripes }}
                    </div>
                </div>
            </div>

            <div class="mt-4 max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 text-gray-900">
                        <v-table>
                            <thead>
                                <tr>
                                    <th class="text-left">
                                        Date
                                    </th>
                                    <th class="text-left">
                                        Type
                                    </th>
                                    <th class="text-left">
                                        Invoiced
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="stripe in stripes">
                                    <td>{{ formatDate(stripe.created_at) }}</td>
                                    <td>{{ stripe.terminal }}</td>

                                    <td v-if="stripe.status == 1">Invoiced</td>
                                    <td v-else>Uninvoiced</td>
                                </tr>
                            </tbody>
                        </v-table>

                    </div>
                </div>
            </div>

        </div>
    </AuthenticatedLayout>
</template>
