<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head } from '@inertiajs/vue3';
import { useForm } from "@inertiajs/vue3";
import PrimaryButton from '@/Components/PrimaryButton.vue';


defineProps({
    uncounted_stripes: {
        type: Number,
    },
    user: {
        type: Object,
    },
    counted_stripes: {
        type: Number,
    }
});

const form = useForm({
    count: true,
});

const countStripes = () => {
    form.post(route("zerocount.count"), {
        preserveScroll: true,
        onSuccess: () => form.reset(),
        onError: () => {

        },
    });

}

</script>

<script>

export default {
    methods: {
        formatDate(dateString) {
            const date = new Date(dateString);
            // Then specify how you want your dates to be formatted
            return new Intl.DateTimeFormat('en-nl', { timeStyle: 'short', dateStyle: 'full' }).format(date);
        }
    }
}


</script>
<template>
    <Head title="Zerocount" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Zerocount</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">

                    <div v-if="counted_stripes != null" class="p-6 text-gray-900 bg-green-300">
                        {{ counted_stripes }} stripes has been counted.
                    </div>

                    <div class="p-6 text-gray-900">
                        <form @submit.prevent="countStripes">
                            <input type="hidden" name="hidden" id="hidden" value="true" />
                            Stripes since last zerocount: {{ uncounted_stripes }}<br>

                            <PrimaryButton type="submit" class="center">
                                Count
                            </PrimaryButton>

                        </form>
                    </div>
                </div>
            </div>



        </div>
    </AuthenticatedLayout>
</template>
