<template>
<svg
   version="1.1"
   id="svg1"
   width="184.252"
   height="100.75653"
   viewBox="0 0 184.252 100.75653"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <defs
     id="defs1">
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2">
      <path
         d="m 65.549,41.171 h 138.189 v 90.71 H 65.549 Z"
         transform="translate(-107.7979,-103.519)"
         id="path2" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath4">
      <path
         d="m 65.549,41.171 h 138.189 v 90.71 H 65.549 Z"
         transform="translate(-159.8394,-80.8916)"
         id="path4" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath6">
      <path
         d="m 65.549,41.171 h 138.189 v 90.71 H 65.549 Z"
         transform="translate(-161.48781,-103.519)"
         id="path6" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath8">
      <path
         d="m 65.549,41.171 h 138.189 v 90.71 H 65.549 Z"
         transform="translate(-109.44531,-80.8916)"
         id="path8" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath10">
      <path
         d="m 65.549,41.171 h 138.189 v 90.71 H 65.549 Z"
         transform="translate(-170.0503,-80.8916)"
         id="path10" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath12">
      <path
         d="m 65.549,41.171 h 138.189 v 90.71 H 65.549 Z"
         transform="translate(-92.1484,-84.983405)"
         id="path12" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath14">
      <path
         d="m 65.549,41.171 h 138.189 v 90.71 H 65.549 Z"
         transform="translate(-126.9756,-92.499502)"
         id="path14" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16">
      <path
         d="m 65.549,41.171 h 138.189 v 90.71 H 65.549 Z"
         transform="translate(-200.6128,-84.983405)"
         id="path16" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath18">
      <path
         d="m 65.549,41.171 h 138.189 v 90.71 H 65.549 Z"
         id="path18" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath20">
      <path
         d="m 65.549,41.171 h 138.189 v 90.71 H 65.549 Z"
         transform="translate(-76.293002,-99.912603)"
         id="path20" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath22">
      <path
         d="m 65.549,41.171 h 138.189 v 90.71 H 65.549 Z"
         transform="translate(-104.6104,-99.912603)"
         id="path22" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath24">
      <path
         d="m 65.549,41.171 h 138.189 v 90.71 H 65.549 Z"
         transform="translate(-138.9292,-92.499502)"
         id="path24" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath26">
      <path
         d="m 65.549,41.171 h 138.189 v 90.71 H 65.549 Z"
         transform="translate(-143.1558,-99.912603)"
         id="path26" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath28">
      <path
         d="m 65.549,41.171 h 138.189 v 90.71 H 65.549 Z"
         transform="translate(-179.46441,-91.3901)"
         id="path28" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30">
      <path
         d="m 65.549,41.171 h 138.189 v 90.71 H 65.549 Z"
         transform="translate(-186.07371,-96.298302)"
         id="path30" />
    </clipPath>
  </defs>
  <g
     id="layer-MC0"
     transform="translate(-68.294854,-36.516254)">
    <path
       id="path1"
       d="M 0,0 C 3.889,11.079 14.438,19.023 26.845,19.023 39.25,19.023 49.801,11.079 53.69,0 h 2.611 C 52.317,12.469 40.637,21.5 26.845,21.5 13.053,21.5 1.371,12.469 -2.612,0 Z"
       style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
       transform="matrix(1.3333333,0,0,-1.3333333,124.62672,74.332246)"
       clip-path="url(#clipPath2)" />
    <path
       id="path3"
       d="m 0,0 c -4.756,-9.059 -14.254,-15.24 -25.197,-15.24 -10.94,0 -20.441,6.181 -25.197,15.24 h -2.768 c 4.954,-10.471 15.614,-17.715 27.965,-17.715 12.353,0 23.009,7.244 27.967,17.715 z"
       style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
       transform="matrix(1.3333333,0,0,-1.3333333,194.01539,104.50212)"
       clip-path="url(#clipPath4)" />
    <path
       id="path5"
       d="M 0,0 C -3.889,11.079 -14.439,19.023 -26.845,19.023 -39.252,19.023 -49.801,11.079 -53.69,0 Z"
       style="fill:#f46b18;fill-opacity:1;fill-rule:nonzero;stroke:#f46b18;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       transform="matrix(1.3333333,0,0,-1.3333333,196.21326,74.332246)"
       clip-path="url(#clipPath6)" />
    <path
       id="path7"
       d="m 0,0 c 4.756,-9.059 14.256,-15.24 25.197,-15.24 10.941,0 20.441,6.181 25.197,15.24 z"
       style="fill:#f46b18;fill-opacity:1;fill-rule:nonzero;stroke:#f46b18;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       transform="matrix(1.3333333,0,0,-1.3333333,126.82326,104.50212)"
       clip-path="url(#clipPath8)" />
    <path
       id="path9"
       d="m 0,0 h -2.656 c -5.229,-12.957 -17.922,-22.102 -32.752,-22.102 -19.501,0 -35.309,15.809 -35.309,35.308 0,19.5 15.808,35.307 35.309,35.307 16.236,0 29.914,-10.96 34.035,-25.886 H 1.189 C 0.553,25.108 -0.33,27.492 -1.43,29.75 h 35.118 v 3.556 H -3.41 c -6.69,10.623 -18.516,17.684 -31.998,17.684 -13.48,0 -25.31,-7.061 -31.998,-17.684 h -37.095 V 29.75 h 35.115 c -2.436,-4.998 -3.806,-10.611 -3.806,-16.544 0,-5.876 1.343,-11.436 3.734,-16.395 h -35.043 V -6.75 h 37.006 c 6.671,-10.703 18.547,-17.828 32.087,-17.828 13.543,0 25.418,7.125 32.088,17.828 h 37.008 v 3.561 H -1.357 C -0.857,-2.152 -0.406,-1.088 0,0"
       style="fill:#f46b18;fill-opacity:1;fill-rule:nonzero;stroke:none"
       transform="matrix(1.3333333,0,0,-1.3333333,207.62992,104.50212)"
       clip-path="url(#clipPath10)" />
    <path
       id="path11"
       d="M 0,0 H -2.671 L -13.063,11.172 V 0 h -2.792 v 14.929 h 3.08 L -2.795,4.148 V 14.929 H 0 Z m -20.601,0 h -2.916 v 14.929 h 2.916 z M -26.6,-4.092 H 2.879 V 18.535 H -26.6 Z"
       style="fill:#76757a;fill-opacity:1;fill-rule:nonzero;stroke:none"
       transform="matrix(1.3333333,0,0,-1.3333333,103.76072,99.046376)"
       clip-path="url(#clipPath12)" />
    <path
       id="path13"
       d="m 0,0 c 0,-4.231 3.182,-5.381 5.975,-5.381 2.793,0 5.979,1.15 5.979,5.381 0,3.594 -2.571,5.277 -5.979,5.277 C 2.565,5.277 0,3.594 0,0"
       style="fill:#76757a;fill-opacity:1;fill-rule:nonzero;stroke:none"
       transform="matrix(1.3333333,0,0,-1.3333333,150.19699,89.024913)"
       clip-path="url(#clipPath14)" />
    <path
       id="path15"
       d="M 0,0 H -2.586 V 11.315 H -2.629 L -7.412,0 h -2.324 l -4.803,11.315 H -14.58 V 0 h -2.59 v 14.929 h 3.924 l 4.66,-11.068 4.744,11.068 H 0 Z m -21.148,6.407 c 0,-4.805 -3.061,-6.776 -7.926,-6.776 -4.869,0 -7.93,1.971 -7.93,6.776 v 8.522 h 2.918 V 6.612 c 0,-2.464 0.883,-4.477 5.012,-4.477 4.127,0 5.008,2.013 5.008,4.477 v 8.317 h 2.918 z M -65.97,-21.807 c -12.352,0 -23.011,7.244 -27.965,17.715 h 55.931 c -4.957,-10.471 -15.613,-17.715 -27.966,-17.715 m -30.032,36.736 h 3.077 l 9.981,-10.781 v 10.781 h 2.794 V 0 h -2.67 L -93.21,11.172 V 0 h -2.792 z m 37.234,-7.578 c 0,-3.101 -1.83,-7.72 -8.893,-7.72 -7.067,0 -8.895,4.619 -8.895,7.72 0,4.088 2.322,7.949 8.895,7.949 6.571,0 8.893,-3.861 8.893,-7.949 M -39.896,14.929 -47.207,0 h -3.041 l -7.209,14.929 h 3.125 L -48.729,3.02 -43.02,14.929 Z M -65.97,40.036 c 13.792,0 25.472,-9.031 29.456,-21.5 h -58.913 c 3.983,12.469 15.665,21.5 29.457,21.5 m 34.034,-21.5 c -4.121,14.925 -17.796,25.885 -34.034,25.885 -19.501,0 -35.31,-15.807 -35.31,-35.307 0,-19.499 15.809,-35.307 35.31,-35.307 14.829,0 27.523,9.144 32.751,22.101 H 3.125 v 22.628 z"
       style="fill:#76757a;fill-opacity:1;fill-rule:nonzero;stroke:none"
       transform="matrix(1.3333333,0,0,-1.3333333,248.37992,99.046376)"
       clip-path="url(#clipPath16)" />
    <path
       id="path17"
       d="m 68.632,99.913 h 2.916 V 84.984 h -2.916 z"
       style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
       transform="matrix(1.3333333,0,0,-1.3333333,-19.103813,212.35758)"
       clip-path="url(#clipPath18)" />
    <path
       id="path19"
       d="m 0,0 h 3.08 l 9.981,-10.781 V 0 h 2.794 v -14.929 h -2.67 L 2.792,-3.757 V -14.929 H 0 Z"
       style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
       transform="matrix(1.3333333,0,0,-1.3333333,82.620187,79.140779)"
       clip-path="url(#clipPath20)" />
    <path
       id="path21"
       d="m 0,0 h 3.077 l 9.982,-10.781 V 0 h 2.794 v -14.929 h -2.67 L 2.792,-3.757 V -14.929 H 0 Z"
       style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
       transform="matrix(1.3333333,0,0,-1.3333333,120.37672,79.140779)"
       clip-path="url(#clipPath22)" />
    <path
       id="path23"
       d="m 0,0 c 0,3.594 -2.57,5.277 -5.977,5.277 -3.411,0 -5.977,-1.683 -5.977,-5.277 0,-4.231 3.182,-5.381 5.977,-5.381 C -3.186,-5.381 0,-4.231 0,0 m -5.977,7.784 c 6.571,0 8.893,-3.861 8.893,-7.949 0,-3.101 -1.83,-7.72 -8.893,-7.72 -7.067,0 -8.896,4.619 -8.896,7.72 0,4.088 2.323,7.949 8.896,7.949"
       style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
       transform="matrix(1.3333333,0,0,-1.3333333,166.13512,89.024913)"
       clip-path="url(#clipPath24)" />
    <path
       id="path25"
       d="M 0,0 H 3.125 L 8.729,-11.91 14.438,0 h 3.123 L 10.25,-14.929 H 7.209 Z"
       style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
       transform="matrix(1.3333333,0,0,-1.3333333,171.77059,79.140779)"
       clip-path="url(#clipPath26)" />
    <path
       id="path27"
       d="m 0,0 c 0,-4.805 -3.061,-6.776 -7.926,-6.776 -4.869,0 -7.929,1.971 -7.929,6.776 v 8.522 h 2.917 V 0.205 c 0,-2.463 0.883,-4.477 5.012,-4.477 4.127,0 5.008,2.014 5.008,4.477 V 8.522 H 0 Z"
       style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
       transform="matrix(1.3333333,0,0,-1.3333333,220.18206,90.504116)"
       clip-path="url(#clipPath28)" />
    <path
       id="path29"
       d="m 0,0 h -0.041 v -11.315 h -2.59 V 3.614 h 3.924 l 4.66,-11.068 4.744,11.068 h 3.842 V -11.315 H 11.953 V 0 H 11.91 L 7.127,-11.315 H 4.803 Z"
       style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
       transform="matrix(1.3333333,0,0,-1.3333333,228.99446,83.959846)"
       clip-path="url(#clipPath30)" />
  </g>
</svg>
</template>
