<template>
    <button
        class="inline-flex items-center px-4 py-2 bg-innovum border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-innovum-700 focus:bg-innovum-700 active:bg-innovum-900 focus:outline-none focus:ring-2 focus:ring-innovum-200 focus:ring-offset-2 transition ease-in-out duration-150"
    >
        <slot />
    </button>
</template>
