<script setup>
import { computed } from 'vue';
import { Link } from '@inertiajs/vue3';

const props = defineProps({
    href: {
        type: String,
        required: true,
    },
    active: {
        type: Boolean,
    },
});

const classes = computed(() =>
    props.active
        ? 'block w-full pl-3 pr-4 py-2 border-l-4 border-innovum-400 text-left text-base font-medium text-indigo-700 bg-innovum-50 focus:outline-none focus:text-indigo-800 focus:bg-innovum-100 focus:border-innovum-700 transition duration-150 ease-in-out'
        : 'block w-full pl-3 pr-4 py-2 border-l-4 border-transparent text-left text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-innovum-50 hover:border-innovum-300 focus:outline-none focus:text-gray-800 focus:bg-innovum-50 focus:border-innovum-300 transition duration-150 ease-in-out'
);
</script>

<template>
    <Link :href="href" :class="classes">
        <slot />
    </Link>
</template>
