<script setup>
import Checkbox from '@/Components/Checkbox.vue';
import GuestLayout from '@/Layouts/GuestLayout.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import { Head, Link, useForm } from '@inertiajs/vue3';

defineProps({
    canResetPassword: {
        type: Boolean,
    },
    status: {
        type: String,
    },
    baseURL: {
        type: String,
    },
    clientID: {
        type: String,
    },
    scopes: {
        type: String,
    }
});


const form = useForm({
    email: '',
    password: '',
    remember: false,
});

const submit = () => {
    form.post(route('login'), {
        onFinish: () => form.reset('password'),
    });
};
</script>

<template>
    <GuestLayout>
        <Head title="Log in" />

        <div class="flex flex-col items-center">
            <div v-if="status" class="mb-4 font-medium text-sm text-green-600">
                {{ status }}
            </div>

            <a :href="baseURL+'/oauth/authorize?response_type=code&client_id='+clientID+'&scope='+scopes" class="align-center text-blue-500 underline hover:text-blue-700">
                <PrimaryButton
                    class="center">
                        Log in with Congresssus
                </PrimaryButton>
            </a>
        </div>
        
    </GuestLayout>
</template>
